...
<br />
<div class="card">
  <div class="card-header">
    Two factor authentication
  </div>
  <div class="card-body">
    <% if current_user.otp_required_for_login %>
      <p>Two factor authentication is enabled.</p>
      <p><%= link_to('Disable Two Factor Authentication', two_factor_settings_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure you want to disable two factor authentication?'}) %></p>
    <% else %>
      <p>Two factor authentication is NOT enabled.</p>
      <p><%= link_to('Enable Two Factor Authentication', new_two_factor_settings_path, class: 'btn btn-primary') %></p>
    <% end %>
  </div>
</div>
<br />
...